@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css');


.add-lady_button, .edit_lady-button{
  cursor: pointer;
  font-size: 13;
  padding: 5px 10px;
  font-weight: normal;
  display: inline-block;
  width: 130px;
  text-align: center;
  background-color: #337ab7;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 20px;
}
.add-lady_button:hover{
	background-color: #206096;
}
.edit_lady-button{
  margin-left: 20px;
  background-color: #E09E26;
}
.edit_lady-button:hover{
  background-color: #CC8A13;
}
.save_lady_button, .clear_lady_button, .remove_lady_button{
  cursor: pointer;
  font-size: 13;
  padding: 5px 10px;
  font-weight: normal;
  display: inline-block;;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
}
.save_lady_button {
  background-color: #5cb85c;
  margin-left: 0;
}

.save_lady_button:hover{
	background-color: #34A534;
}

.remove_lady_button {
  background-color: #d9534f;
}
.clear_lady_button {
  background-color: #E09E26;
}

.roster_wrapper_hidden{
	display: none;
}
.rosters_forms_day_names{
	display: inline-block;
  min-width: 75px;
}
.hidden-rosters-forms{
	display: none;
}
.current_time{
	height: 26px;
  top: 2px;
  position: relative;
  margin-left: 10px;
  width: 100px;
  text-align: center;
  color: #999 !important;
  font-size: 13px;
}
.add_lady_roster_time{
	min-width: 105px;
  text-align: center;
}
.add_lady_roster_time2{
	min-width: 105px;
  text-align: center;
}
.next_time{
	height: 26px;
  top: 2px;
  position: relative;
  margin-left: 10px;
  width: 100px;
  text-align: center;
  color: #999 !important;
  font-size: 13px;
}
.hidden-rosters-forms .current{
	display:block;
	float: left;
	margin-right: 50px;
}
.hidden-rosters-forms .next{
	display:block;
	float: left;
}
.ladies_table tbody tr:nth-child(odd){
    background-color: #DAD9D9;
}
.settinds_saved{
  text-align: center;
  font-size: 19px;
  color: green;
  font-weight: 600;
  display: none;
  margin-bottom: 0px;
  background-color: #BAF7CD;
  padding: 5px 0;
}
#wpcontent{
  background-color: #fff;
}
